.app-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}